<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD - home</title>
    <link rel="stylesheet" href="{% static 'enroll/css/bootstrap.css' %}">
</head>
<body>
    <div class="container mt-5">
        <h2 class='text-center alert-danger'>Function based view ModelForm CRUD Project</h2>
        {% block content %}
        
        {% endblock content %}
    </div>


    <script src="{% static 'enroll/js/jquery.js' %} "></script>
    <script src="{% static 'enroll/js/popper.js' %} "></script>
    <script src="{% static 'enroll/js/bootstrap.js' %} "></script>
</body>
</html>